<section class="section">
    <div class="clearfix">
        <p>${oneSubRedditList.name}</p>
        <figure class="image">
            
        </figure>
    </div>
    <div class="clearfix">
        <ul style="margin-top: 16px;">
            ${postData.map(post => `
                <li>
                    <p>${post.user_id}</p>
                    <p>${post.posts}</p>
                    <p>${post.content}</p>
                </li>
            `).join('')}
        </ul>
    </div>
    ${!!is_logged_in ? `
        <form class="form clearfix">
            <p>Add a new post:</p>
            <div class="field">
                <div class="control">
                    <textarea class="textarea is-primary" placeholder="make a new post" rows="4" cols="50"></textarea>
                </div>
            </div>
            <div class="field">
                
            </div>
            <input type="hidden" name="user_id" value=${user_id} />
            <input type="hidden" name="subReddits_id" value=${subReddit_id} />
            <button class="button is-primary" type="submit">Submit Review</button>
        </form>
        ` : `<p>You are NOT logged in</p>`}
</section>