<section class="section">
    
</section>

<section>
    
    <table>
        <thead>
                <tr>
                    <td>
                        ${onePostList.user_id}
                    </td>
                    <td>
                        ${onePostList.posts}
                        ${onePostList.content}
                    </td>
                </tr>
        </thead>
    </table>

    <table>
        <thead>
            <tr>
                <td>User ID:</td>
                <td>Comments:</td>
            </tr>
        </thead>
        ${commentData.map(comment =>
            `<tr>
                <td>${comment.user_id}</td>
                <td>${comment.comments}</td>
            </tr>`
        ).join('')}
    </table>
</section>

<section>
        ${!!is_logged_in ? `
            <form class="form clearfix">
                <p>Add a new post:</p>
                <div class="field">
                    <div class="control">
                        <textarea class="textarea is-primary" placeholder="make a new post" rows="4" cols="50"></textarea>
                    </div>
                </div>
                <div class="field">
                    
                </div>
                <input type="hidden" name="user_id" value=${user_id} />
                <input type="hidden" name="subReddits_id" value=${subReddit_id} />
                <input type="hidden" name="post_id" value=${post_id} />
                <button class="button is-primary" type="submit">Add</button>
            </form>
            ` : `<p>You are NOT logged in</p>`}
</section>
